/* 
/* Mobile view */
@media (max-width: 600px) {
    #two-container {
      display: flex;
      flex-direction: column;
    }
    #desktop-nav {
      display: none;
    }
  
    #hamburger-nav {
      display: block;
    }
  
    .hamburger-menu {
      display: block;
      float: right;
    }
  
    /* Mobile navigation dropdown menu styling */
    #hamburger-nav .menu-links {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      z-index: 1000;
      display: none;
      flex-direction: column;
    
    }
  
    #hamburger-nav .menu-links.open {
      display: flex;
    }
  
    #hamburger-nav .menu-links a {
      font-size: 1rem;
      padding: 5px 10px;
      /* Add padding for tap targets */
      display: block;
      /* Ensure the links take up the full width */
      color: black;
      /* Text color */
      background-color: transparent;
      /* Background color */
      text-align: center;
      text-decoration: none;
    }
  
    #hamburger-nav .menu-links a:hover,
    #hamburger-nav .menu-links a:focus {
      background-color: rgba(111, 111, 111, 0.2);
    }
  
    #hamburger-nav .menu-links {
      display: none;
      /* other styles needed for positioning and formatting the dropdown */
    }
  
    /* Show the menu when hovering over #hamburger-nav */
    #hamburger-nav:hover .menu-links {
      display: block;
      /* or 'flex' or whatever display mode you're using */
    }
  
    /* This is not necessary but it's a good practice to ensure the menu hides when the mouse leaves */
    #hamburger-nav:not(:hover) .menu-links {
      display: none;
    }
  
    /* Ensure the nav links are not displayed until the hamburger is clicked */
    .nav-links:not(.open) {
      display: none;
    }
  
    .menu-links.open {
      display: block;
    }
  
    .section__pic-container,
    .section__text {
      width: 100%;
    }
  
    .title {
      font-size: x-large;
    }
  
    /* Adjust the size and layout of other elements as necessary */
    .btn {
      /* Make buttons full width */
      width: 100%;
    }
  
    #video-background,
    .background-image {
      object-fit: cover;
    }
  
    #video-background {
      display: none;
    }
  
    #two-container {
      background: url('/assets/circle.gif');
      background-size: cover;
      object-fit: cover;
    }
  
    /* Navigation Bar */
    nav {
      flex-direction: column;
      padding: 1rem;
      /* Add some padding */
    }
  
    .nav-links {
      display: none;
      /* Hide the nav links initially */
      flex-direction: column;
      width: 100%;
      /* Full width */
      align-items: center;
      /* Center align nav items */
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .project-card {
      height: 300px;
      object-fit: cover;
      object-position: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      /* Less pronounced shadow for a flatter design */
      transition: box-shadow 0.3s, transform 0.3s, opacity 0.3s;
      /* Smooth transitions for effects */
    }
  
    .project-card:active {
      /* This will trigger when the user taps and holds the card */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      /* More pronounced shadow for a pressing effect */
      transform: scale(0.98);
      /* Slightly scale down to simulate a press */
    }
    .first,
    .second,
    .third,
    .four {
    height: 30px;
    background-color: #ffffffcc;
    box-shadow:inset -2px -2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    }
  
    .first {
      top: 0;
    }
    .second {
      top:30px;
    }
    .four {
      top: 60px
    }
    .third {
      top: 90px;
    }
    .sec #hamburger-nav {
      display: block;
      /* Show hamburger icon */
    }
  
    nav#hamburger-nav {
      background-color: transparent;
    }
  
    .title {
      font-size: x-large;
      /* Adjust title size */
    }
  
    .section__text {
      margin-top: -30px;
      /* reduce top margin */
    }
  
    .section__pic-container {
      margin-bottom: 0;
      /* reduce bottom margin */
    }
  
    .section__text__p1,
    .section__text__p2 {
      font-size: large;
      margin: 1rem;
      /* Adjust text size */
    }
  
    .btn {
      margin: 1rem;
      ;
      padding: 0.5rem 1rem;
      /* Adjust button padding */
      font-size: 1rem;
      /* Adjust button text size */
    }
  
    .button-project {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .button1 {
      font-size: small;
      padding: 8px 12px;
    }
    .button2 {
      font-size: small;
      padding: 8px 12px;
      margin-top: -10px;
    }
  
    /* Adjust social icons if needed */
    .icon {
      width: 2rem;
      /* Adjust icon size */
      height: 2rem;
      /* Adjust icon size */
    }
  
    section.visible,
    section:hover {
      opacity: 1;
      transform: translateY(0);
      animation: appear 0.6s ease-out forwards;
    }
  
    @keyframes appear {
      0% {
        opacity: 0.5;
        transform: translateY(20px);
      }
  
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    #project-title {
      position: sticky;
      font-size: medium;
      z-index: 10;
      /* Ensure the sticky element is above other content */
    }
  
    .project-title h1,
    .project-title p {
      margin: 0;
    }
  
   .overlay-text3{
      font-size: medium;
    }
  
    .project-info h2 {
      font-size: medium;
      font-weight: bold;
      line-height: 1.2;
    }
  
    .contact-info-container {
      font-size: 1rem;
    }
  
    .contact-info-container {
      flex-direction: row;
      /* This will keep icon and text side by side */
      flex-wrap: nowrap;
      /* This will prevent them from wrapping to a new line */
      justify-content: flex-start;
      /* Aligns items to the start of the container */
      align-items: center;
      /* Centers items vertically */
      margin: 0 0;
    }
  
    .contact-icon {
      height: 1.5rem;
      /* Adjust icon size for mobile */
      width: auto;
      /* Maintain aspect ratio */
    }
  
    .contact-info-container a {
      font-size: 1rem;
      /* Adjust font size for mobile */
    }
  
    footer {
      flex-direction: column;
      align-items: center;
      font-size: smaller;
    }
  
    .section-above-contact {
      margin-bottom: 1rem;
      /* Reduce bottom margin */
    }
  
    .section-above-contact {
      margin-bottom: 1rem !important;
      /* Reduce bottom margin */
    }
  
    #contact {
      margin-top: -5rem !important;
      /* Reduce top margin */
      margin-bottom: -5rem !important;
      /* Reduce bottom margin */
    }
  
  
  }