@font-face {
  font-family: 'SaolDisplayBold';
  src: url('/font/SaolDisplay-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'SaolDisplayThin';
  src: url('/font/SaolDisplay-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'SaolDisplayRegular';
  src: url('/font/SaolDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SaolDisplaySimiBoldTLC';
  src: url('/font/SaolDisplay-SemiboldItalic.otf') format('truetype');
}

@font-face {
  font-family: 'SaolLight';
  src: url('/font/Saol\ Display\ Light.otf') format('truetype');
}
@font-face {
  font-family: 'SaolMedium';
  src: url('/font/SaolDisplay-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'SaolMono';
  src: url('/font/Saol\ Text\ Monospaced.otf') format('truetype');
}

@font-face {
  font-family: 'SaolTextThin';
  src: url('/font/SaolText-Thin.otf') format('truetype');
}

@font-face {
  font-family: 'SaolBoldTLC';
  src: url('/font/Saol\ Display\ Bold\ Italic.otf') format('truetype');
}

body {
  font-family: 'SaolDisplayRegular';
  width: 100%;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
  justify-content: space-between;
}

nav {
  font-family: 'SaolDisplayRegular';
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  /* Adjust the height as needed */
  padding: 0 2rem;
  margin-top: 0.5rem;

}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size:larger;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: rgb(65, 65, 65);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(255, 0, 255);
}

.logo {
  height: auto;
  width:auto;
}
#big-logo {
  margin-top: 180px;
  width: auto;
  height: auto;
  max-width: 180px;
  max-height: 180px;
}

.logo:hover {
  cursor: default;
}
/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  z-index: 5;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}


/* SECTIONS */
.experience-details-container {
  margin: 0 4rem;
}

section {
  opacity: 0.5;
  /* Starting state */
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;
}

section.visible,
section:hover {
  opacity: 1;
  transform: translateY(0);
  animation: appear 0.5s ease-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0.5;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.section-container {
  display: flex;
}

/* PROFILE SECTION */
#two-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* Ensure the video stays behind the content */
}

/* NAVIGATION BAR */
nav#desktop-nav {
  background: none;
}

/* PROFILE ABOUT SECTION */
#profile-about {
  height: 100vh;
  position: relative;
  margin: 0 4em;
}

.section__text__p1 {
  font-family: 'SaolDisplayBold';
  width: 60%;
  position: absolute;
  top:10%;
  right: 0;
  font-size: 2.5rem;
  margin-right: 0;
  text-align: justify-all;
}
#design1 {
  font-size: 3.5rem;
}
#design-text {
font-family: 'SaolDisplaySimiBoldTLC';
}
.section__text__p2 p {
  background-color:rgba(255,255,255,0.3);
  backdrop-filter: blur(20px);
  box-shadow:inset -2px -2px 5px rgba(0, 0, 0, 0.1); 
  display: inline;
  line-height: 1;
}

.section__text__p2 {
  font-family: 'SaolMono';
  position: absolute;
  top: 45%;
  left: 0;
  width: 30%;
  font-size: large;
  text-align: left;
}
#hi {
  letter-spacing: 2px;
  font-family: 'SaolBoldTLC';
  font-size: x-large;
}

.title {
  font-family: 'SaolDisplayRegular';
  font-size: 3rem;
  text-align: center;
  margin: 0 4rem;
}

#socials-container {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  bottom: 20%;
  position: absolute;
}

#circleText {
  height: 200px;
  width: 200px;
  position: absolute;
  right: 5%;
  bottom:20%;
  animation: effect 8s linear infinite;
}
@keyframes effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
span1{
  font-family: 'SaolDisplayBold';
  position: absolute;
  transform-origin: 0px 150px;
  transform-style: flat;
  text-transform: none;
  color:rgb(255, 255, 255);
  font-weight: 800;
  font-size: 1.5rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

.about-icon {
  cursor: pointer;
  height: 1.5rem;
  margin-right: 15px;
  margin-left: 5px;
}

.about-icon:hover {
  transform: scale(1.3)
}

/* BUTTONS */

.btn-container,
.button-project {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.button1 {
  transform: scale(0.8);
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
}

.button2 {
  transform: scale(0.8);
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
}

.button-project a {
  text-decoration: none;
  /* This removes the underline */
  /* Add other styles for your buttons here */
}


.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.button1:hover,
.button2:hover {
  cursor: grabbing;
  transform: scale(0.95);
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.button1,
.button2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
  color: white;
}

.btn-color-2 {
  background: none;
}


.btn-container {
  gap: 1rem;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

#beilei-pic {
  width: 85%;
  height: 85%;
}

#project-title {
  font-family: 'SaolDisplayThin';
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  z-index: 10;
}

#single-project {
  font-size: 1.5rem;
  font-family: 'SaolDisplayRegular';
  
}

ul {
  list-style: none;
}

.first {
  height: 45px;
  /* border-top: solid 1px black; */
  position: sticky;
  top: 0;
  z-index: 10;

  background-color: #ffffffcc;
  backdrop-filter: blur(30px);
  box-shadow:inset -2px -2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(255, 255, 255, 0.5);
}

.second {
  height: 45px;
  /* border-top: solid 1px black; */
  position: sticky;
  top: 45px;
  z-index: 10;
  background-color: #ffffffcc;
  backdrop-filter: blur(30px);
  box-shadow:inset -2px -2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(255, 255, 255, 0.5);
}

.third {
  height: 45px;
  /* border-top: solid 1px black; */
  position: sticky;
  top: 135px;
  z-index: 10;
  border: 1px solid rgb(255, 255, 255, 0.5);
  background-color: #ffffffcc;
  backdrop-filter: blur(30px);
  box-shadow:inset -2px -2px 5px rgba(0, 0, 0, 0.1);
}

.four {
  height: 45px;
  /* border-top: solid 1px black; */
  position: sticky;
  top: 90px;
  z-index: 10;
  border: 1px solid rgb(255, 255, 255, 0.5);
  background-color: #ffffffcc;
  backdrop-filter: blur(30px);
  box-shadow:inset -2px -2px 5px rgba(0, 0, 0, 0.1);
}


/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  margin-bottom: 120px;
  margin-top: 120px;
}

.contact-info-upper-container {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
  -top: -1rem;
}

icon.contact-icon {
  margin-right: 10px;
}

.email-icon {
  height: 2.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

#footer-link {
  display: flex;
  justify-content: space-between;
}


.project-card {
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, height 0.3s ease;
  transform: scale(0.95);
  box-shadow: none;
  opacity: 0.7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.project-card>div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-card img {
  max-width: 100%;
  height: auto;
}

.project1-img,
.project2-img {
  transform: scale(0.88);
  flex-grow: 2;
  transition: transform 0.3s ease-in-out;
}

.project1-img:hover {
  transform: scale(1);
  position: relative;
  z-index: 2;
}

.project2-img:hover {
  transform: scale(1);
  position: relative;
  z-index: 2;

}


.project2-info {
  margin-left: 2rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section3_pic {
  display: block;
  width: 100%;
}

.project-card.visible {
  transform: scale(1.01);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  z-index: 2;
  opacity: 1;
}

.project-card.animate {
  transform: scale(1);
  /* Scale effect */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  /* Box-shadow effect */
}

.overlay-text3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 2.5rem;
  z-index: 5;
}

.technologies .badge {
  margin-right: 5px;
}

.project-info h2 {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 0.5rem;
  color: #333;
  margin-left: 0.5rem;
  margin-right: 1rem;
  line-height: 1.2;
  width: 70%;
}

.project-info a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #999999;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 0.875rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.project-info a.button:hover {
  background-color: #737373;
  text-decoration: none;
  /* No underline on hover */
}

@media (max-width: 1150px) {
  #big-logo {
    max-width: 120px;
    max-height: 120px;
  }
  .nav-links {
    font-size: medium;
  }
  .section__text {
    font-size: smaller;
  }

  .section__text__p1 {
    font-size: x-large;
    width: 65%;
    align-items: flex-end;
  }

  .section__text__p2 {
    font-size: small;
    width: 35%;
  }
  #hi {
    font-size: medium;
  }

  #design1 {
    font-size: 2.8rem;
  }

  #circleText {
    height: 150px;
    width: 150px;
  }
  span1{
    transform-origin: 0px 135px;
  }

  .title {
    font-size: xx-large;
  }
  #single-project a {
    font-size: medium;
  }
  #project-title, #single-project {
    font-size: 1rem;
  }

  .project-info h2{
    font-size: medium;
  }

  .first,
  .second,
  .third,
  .four {
  height: 30px;
  background-color: #ffffffcc;
  box-shadow:inset -2px -2px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  }

  .first {
    top: 0;
  }
  .second {
    top:30px;
  }
  .four {
    top: 60px
  }
  .third {
    top: 90px;
  }
  .sec #hamburger-nav {
    display: block;
    /* Show hamburger icon */
  }
}

/* Mobile view */

@media screen and (max-width: 600px) {
  #video-background,
  .background-image {
    object-fit: cover;
  }

  #video-background {
    display: none;
  }

  #two-container {
    background: url('/assets/circle.gif');
    background-size: cover;
    object-fit: cover;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container,
  .section__text {
    width:max-content;
  }
    .title {
      font-size: x-large;
    }

  .project-card {
    height: 300px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Less pronounced shadow for a flatter design */
    transition: box-shadow 0.3s, transform 0.3s, opacity 0.3s;
    /* Smooth transitions for effects */
  }

  .project-card:active {
    /* This will trigger when the user taps and holds the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* More pronounced shadow for a pressing effect */
    transform: scale(0.98);
    /* Slightly scale down to simulate a press */
  }
  .first,
  .second,
  .third,
  .four {
  height: 30px;
  background-color: #ffffffcc;
  box-shadow:inset -2px -2px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  }

  .first {
    top: 0;
  }
  .second {
    top:30px;
  }
  .four {
    top: 60px
  }
  .third {
    top: 90px;
  }


  .section__text {
    margin-top: -30px;
  }

  .section__pic-container {
    margin-bottom: 0;
    /* reduce bottom margin */
  }

  /* .section__text__p1,
  .section__text__p2 {
    font-size: large;
    margin: 0 0.5rem;
  } */
  .section__text__p1 {
    font-size: large;
    top:8%;
    right: 0;;
    word-spacing: 1px;
    text-align:right;
  }

  #design1 {
    font-size: xx-large;
  }
  .section__text__p2 {
    top:40%;
    font-size: small;
    width: 100%;
    left: 0;
    text-align: justify;
  }

  #hi {
    font-size: medium;
  }
  #circleText {
    height: 100px;
    width: 100px;
  }
  span1{
    transform-origin: 0px 90px;
    font-weight: 800;
    font-size: 1rem;
  }

  .btn {
    margin: 1rem;
    ;
    padding: 0.5rem 1rem;
    /* Adjust button padding */
    font-size: 1rem;
    /* Adjust button text size */
  }

  .button-project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button1 {
    font-size: small;
    padding: 8px 12px;
  }
  .button2 {
    font-size: small;
    padding: 8px 12px;
    margin-top: -10px;
  }

  /* Adjust social icons if needed */
  .icon {
    width: 2rem;
    /* Adjust icon size */
    height: 2rem;
    /* Adjust icon size */
  }

  .overlay-text3{
    font-size: medium;
  }

  footer nav {
    font-size: medium;
    height: fit-content;
    margin-bottom: 2rem;
  }

  .text-center {
    font-size: medium;
  }

  footer {
    flex-direction: column;
    align-items: center;
    font-size: smaller;
  }
}