

@font-face {
  font-family: 'Mitchaella Modern Free';
  src: url('/font/Mitchaella\ Modern\ Free.ttf') format('opentype');
}

@font-face {
  font-family: 'Calliga-Regular';
  src: url('/font/Calliga-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Mont-ExtraLightDEMO';
  src: url('/font/Mont-ExtraLightDEMO.otf') format('truetype');
}

@font-face {
  font-family: 'Mont-HeavyDEMO';
  src: url('/font/Mont-HeavyDEMO.otf') format('truetype');
}


body {
  font-family: 'Mont-ExtraLightDEMO', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  width: 100%;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  /* Adjust the height as needed */
  padding: 0 3rem;
  margin-top: 0.5rem;
  /* Add padding to the sides */
  background-color: white;
  /* Add a background color */
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 4rem;
  font-family: 'Calliga-Regular';
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

#hamburger-nav:hover .menu-links {
  display: block; /* or 'flex' or whatever display mode you're using */
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */
.experience-details-container {
  max-width:1440px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  opacity: 0.5; /* Starting state */
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible, section:hover {
  opacity: 1;
  transform: translateY(0);
  animation: appear 0.6s ease-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0.5;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.section-container {
  display: flex;
}

/* PROFILE SECTION */
#two-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* Ensure the video stays behind the content */
}

/* NAVIGATION BAR */
nav#desktop-nav {
  background: none;
  /* Remove background from navigation bar */
}

/* PROFILE ABOUT SECTION */
#profile-about {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 75vh;
  position: relative;
  /* Ensure proper stacking of elements */
}

.section__pic-container {
  display: flex;
  height: 250px;
  width: 250px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 800;
}

.section__text__p1 {
  text-align: center;
  font-size: 2.5rem;
}

.section__text__p2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.title {
  font-family: 'Mont-HeavyDEMO';
  font-size: 7rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container, .button-project{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}
.button1 {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
}
.button2 {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
}
.button-project a {
  text-decoration: none; /* This removes the underline */
  /* Add other styles for your buttons here */
}


.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}
.button1:hover,
.button2:hover {
  cursor:grabbing;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}
.button1,
.button2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
  color: white;
}

.btn-color-2 {
  background: none;
}


.btn-container {
  gap: 1rem;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

#beilei-pic {
  width: 85%;
  height: 85%;
}

#project-title {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 10;
}

#single-project {
  font-size: 2rem;
  font-family: 'Calliga-Regular';
}

ul {
  list-style: none;
}

.first {
  height: 55px;
  border-top: solid 1px black;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.second {
  height: 55px;
  border-top: solid 1px black;
  background-color: white;
  position: sticky;
  top: 52px;
  z-index: 10;
}

.third {
  height: 55px;
  border-top: solid 1px black;
  background-color: white;
  position: sticky;
  top: 156px;
  z-index: 10;
}

.four {
  height: 55px;
  border-top: solid 1px black;
  background-color: white;
  position: sticky;
  top: 104px;
  z-index: 10;
}


/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  margin-bottom: 120px;
  margin-top: 120px;
}

.contact-info-upper-container {
  font-size: 1.5rem;
  display: flex;
  align-items: center; /* This will vertically center align the icon with the text */
  justify-content: flex-start; 
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
  margin-top: -1rem;
}
icon.contact-icon {
  margin-right: 10px;
}

.email-icon {
  height: 2.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

#footer-link {
  display: flex;
  justify-content: space-between;
}


.project-card {
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-card > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-card img {
  max-width: 100%;
  height: auto;
}
.project1-img {
    flex-grow: 2;
}

.project2-info {
  margin-left: 2rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section3_pic {
  display: block;
  width: 100%;
}
.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 2;
  cursor: pointer;
}

.project-card img {
  pointer-events: auto;
}
.overlay-text3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 2.5rem;
  z-index: 5;
}

.technologies .badge {
  margin-right: 5px;
}

.project-info h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #333;
  margin-left: 1.5rem;
  margin-right: 1rem;
  line-height: 1.2;
}

.project-info a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #999999;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 0.875rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.project-info a.button:hover {
  background-color: #737373;
  text-decoration: none; /* No underline on hover */
}

@media (max-width: 768px) {
  nav,
  .nav-links,
  .section-container,
  #profile-about,
  .contact-info-upper-container,
  .contact-info-container {
    /* Adjust the flex-direction for smaller screens to stack elements */
    flex-direction: column;
    align-items: center;
  }
  .header-title {
    font-size: smaller;
    text-align: center;
  }

  .name {
    font-size: smaller;
  }
  .name {
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Keeps the content from spilling outside the container */
    text-overflow: ellipsis; /* Adds an ellipsis to indicate clipped text */
  }
  

  .nav-links,
  .contact-info-upper-container,
  .contact-info-container {
    /* Set the width to auto to fill the container */
    width: auto;
  }

  #profile-about {
    /* Remove any specific height if set */
    height: auto;
    margin: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  nav {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  /* Mobile navigation dropdown menu styling */
  #hamburger-nav .menu-links {
    position: absolute;
    /* Position it relative to the parent */
    top: 100%;
    left: 0;
    right: 0;
    background-color: transparent;
    /* Or any color that fits your design */
    z-index: 1000;
    /* Ensure it stacks on top of other content */
    display: none;
    /* Initially hidden */
    flex-direction: column;
    /* Stack the links vertically */
  }

  #hamburger-nav .menu-links.open {
    display: flex;
  }

  #hamburger-nav .menu-links a {
    padding: 15px 20px;
    /* Add padding for tap targets */
    display: block;
    /* Ensure the links take up the full width */
    color: black;
    /* Text color */
    background-color: transparent;
    /* Background color */
    text-align: left;
    /* Align text to the left */
    text-decoration: none;
    /* Remove underline from links */
  }

  #hamburger-nav .menu-links a:hover,
  #hamburger-nav .menu-links a:focus {
    background-color: rgba(111, 111, 111, 0.2);
  }
  #hamburger-nav .menu-links {
    display: none;
    /* other styles needed for positioning and formatting the dropdown */
  }
  
  /* Show the menu when hovering over #hamburger-nav */
  #hamburger-nav:hover .menu-links {
    display: block; /* or 'flex' or whatever display mode you're using */
  }
  
  /* This is not necessary but it's a good practice to ensure the menu hides when the mouse leaves */
  #hamburger-nav:not(:hover) .menu-links {
    display: none;
  }

  /* Ensure the nav links are not displayed until the hamburger is clicked */
  .nav-links:not(.open) {
    display: none;
  }

  .menu-links.open {
    display: block;
  }

  .section__pic-container,
  .section__text {
    width: 100%;
  }

  .title {
    /* Reduce the font size of titles for smaller screens */
    font-size: 3rem;
  }

  /* Adjust the size and layout of other elements as necessary */
  .btn {
    /* Make buttons full width */
    width: 100%;
  }

  .section__pic-container {
    max-width: 40%;
    height: auto;
    margin: 0 auto;
    /* Center align the container */
  }

  .section__pic-container img {
    width: 100%;
    height: auto;
  }

  #video-background,
  .background-image {
    object-fit: cover;
  }
  #video-background {
    display: none;
  }
  #two-container {
    background: url('/assets/11.gif');
    background-size: cover;
    object-fit: cover;
  }

  /* Navigation Bar */
  nav {
    flex-direction: column;
    padding: 1rem;
    /* Add some padding */
  }

  .nav-links {
    display: none;
    /* Hide the nav links initially */
    flex-direction: column;
    width: 100%;
    /* Full width */
    align-items: center;
    /* Center align nav items */
  }

  .nav-links.open {
    display: flex;
  }

  .project-card {
    height: 300px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Less pronounced shadow for a flatter design */
    transition: box-shadow 0.3s, transform 0.3s, opacity 0.3s; /* Smooth transitions for effects */
  }
  .project-card:active {
    /* This will trigger when the user taps and holds the card */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* More pronounced shadow for a pressing effect */
    transform: scale(0.98); /* Slightly scale down to simulate a press */
  }
.sec
  #hamburger-nav {
    display: block;
    /* Show hamburger icon */
  }

  nav#hamburger-nav {
    background-color: transparent;
  }

  /* Adjust the logo size if necessary */
  .logo {
    font-size: 2rem;
    /* Adjust logo size */
  }

  /* Adjustments to other elements if necessary */
  .title {
    font-size: 2rem;
    /* Adjust title size */
  }

  .section__text {
    margin-top: -30px;
    /* reduce top margin */
  }

  .section__pic-container {
    margin-bottom: 0;
    /* reduce bottom margin */
  }

  .section__text__p1,
  .section__text__p2 {
    font-size: 2rem;
    /* Adjust text size */
  }

  .btn {
    margin: 1rem;
    ;
    padding: 0.5rem 1rem;
    /* Adjust button padding */
    font-size: 1rem;
    /* Adjust button text size */
  }
  .button-project {
    display: flex;
    flex-direction: column;
  }
  .button1, .button2 {
    font-size: small;
    padding: 8px 12px;
  }

  /* Adjust social icons if needed */
  .icon {
    width: 2rem;
    /* Adjust icon size */
    height: 2rem;
    /* Adjust icon size */
  }

  #project-title {
    position: sticky;
    top: 10px; /* Adjust the top offset for sticky positioning */
    font-size: 16px; /* Reduce font size for mobile */
    padding: 5px; /* Adjust padding */
    background: #FFFFFF; /* Add background color if the text needs to stand out */
    z-index: 10; /* Ensure the sticky element is above other content */
  }

  .project-title h1, .project-title p {
    margin: 0;
    padding: 5px;
  }

  #single-project {
    font-size: 1.2rem;
  }

  .project-info h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 10px;
    line-height: 1.2;
  }

  .contact-info-container {
    font-size: 1rem;
  }
  .contact-info-container {
    flex-direction: row; /* This will keep icon and text side by side */
    flex-wrap: nowrap; /* This will prevent them from wrapping to a new line */
    justify-content: flex-start; /* Aligns items to the start of the container */
    align-items: center; /* Centers items vertically */
    margin: 0 0;
  }
  .contact-icon {
    height: 1.5rem; /* Adjust icon size for mobile */
    width: auto; /* Maintain aspect ratio */
  }

  .contact-info-container a {
    font-size: 1rem; /* Adjust font size for mobile */
  }
  footer {
    flex-direction: column;
    align-items: center;
    font-size: smaller;
  }
  .section-above-contact {
    margin-bottom: 1rem; /* Reduce bottom margin */
  }

  .section-above-contact {
    margin-bottom: 1rem !important; /* Reduce bottom margin */
  }

  #contact {
    margin-top: -5rem !important; /* Reduce top margin */
    margin-bottom: -5rem !important; /* Reduce bottom margin */
  }


}