.hero-img {
  width: 50px;
  height: auto;
  max-height: 70vh;
  margin: 20px 0;
}

.hero-copy {
  margin-bottom: 200px;
}

.hero-copy h1 {
  font-size: 24px;
  letter-spacing: 0.12rem;
}

.hero-copy h1 a {
  text-decoration: underline;
  font-size: 430x;
}

.hero-copy h1 span {
  margin-left: 200px;
}

.work-section {
  width: 100%;
}

.work-section-header {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

.work-section-header > div {
  flex: 1;
}

.section-header-copy {
  display: flex;
  justify-content: space-between;
}

.projects {
  width: 100%;
}

.projects .row {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
}

.projects .row > div {
  flex: 1;
}

.projects .row .col {
  display: flex;
  gap: 10px;
}

.projects .row .project-img {
  height: 400px;
}

.projects .row .col.sm .project-img {
  height: 200px;
}

.projects .row .col > div {
  flex: 1;
}

.project-category {
  color: var(--color-text-secondary);
  margin-top: 1.5px;
}

.project-title {
  margin-top: 5px;
}

.feeds {
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
  margin-top:20px
}

.feeds .row {
  display: flex;
  gap: 10px;
}

.feed {
  margin-bottom: 20px;
}

.feed-date {
  font-size: 12.5px;
}

.feed-name {
  margin: 15px 0;
}

.feed-name p {
  margin-bottom: 5px;
}

span.feed-copy {
  color: var(--color-text-secondary);
}

@media (max-width: 900px) {
  .hero-copy h1 span {
    margin-left: 50px;
  }
  .hero-copy h1 {
  font-size: x-large;
  }

  .work-section-header {
    gap: 25px;
    flex-direction: column;
  }

  .section-header-copy {
    padding: 0 2.5px;
  }

  .projects .row {
    flex-direction: column;
    gap: 40px;
  }

  .projects .row .col {
    flex-direction: column;
    gap: 40px;
  }

  .feeds {
    flex-direction: column;
  }
}
